[submodule "external/eigen-3.4.0"]
	path = external/eigen-3.4.0
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/LuaJIT"]
	path = external/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
